.card-wrapper {
  position: relative;


  &::before {
    content: "";
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 16%, 0 54%);
    background: url(../image/searchBackground3.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    position: absolute;
    left: 0;
    z-index: -1;
  }

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 16%, 0 54%);
    background: black;
    opacity: 0.7;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }
}

.card-container {
  margin: 2rem auto;
  background-color: $text-light;
  border: $text-grey;
  padding: 1.4rem;
  width: 80%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;


  &__head {
    position: relative;

    &::after {
      content: "";
      display: block;
      clear: both;
    }

    .festival-img {
      width: 100%;
      height: 20rem;
      object-fit: cover;
      margin: auto;

      @include desktop {
        float: left;
        margin-left: 1rem;
        width: 19rem;
      }

      @include tablette {
        float: left;
        width: 19rem;
      }
    }

    .festival-name {
      color: $classic-blue;
      font-size: 1.5rem;
      font-family: $capital;
      font-weight: 700;
      text-align: center;
      background-color: rgba($color: $text-light, $alpha: 0.6);

      @include tablette {
        margin-top: 1rem;
      }

      @include desktop {

        margin-top: 1rem;
      }
    }

    .festival-text {
      display: none;
      color: $text-grey;
      font-family: $navigation-font;
      font-size: 0.8rem;
      padding: 1rem;

      @include desktop {
        display: block;
      }

      @include tablette {
        display: block;
      }
    }
  }

  &__socialshare {
    color: $my-orange;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include desktop {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }

    @include tablette {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }

    ul {
      font-size: 0.7rem;
      color: $text-grey;
      font-family: $navigation-font;
      display: flex;
      flex-direction: column;
      align-items: center;

      @include desktop {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
      }

      @include tablette {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
      }

      li {
        padding: 3px;
        white-space: nowrap;

        &:nth-of-type(1) {
          border-right: 0.5px solid $text-shade;
        }
      }
    }

    i {
      font-size: 0.9rem;
      margin-right: 0.5rem;

      &:hover {
        color: $footer-dark;
        animation: fading 1s ease-out 0s;

        &::after {
          // opacity: 1;
          transform: scale(1, 1);
        }
      }
    }
  }

  &__info {
    width: 100%;
    padding: 2rem 1rem;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 1rem;

    @include tablette {
      grid-template-columns: auto auto;
    }

    @include desktop {
      grid-template-columns: auto auto;
    }

    &-entry {
      width: 100%;
      height: 2.5rem;
      color: $footer-dark;
      font-size: 1rem;
      font-family: $navigation-font;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid lighten($my-light-blue, 20%);
      white-space: nowrap;

      span {
        color: $classic-blue;
        font-weight: 800;
        margin-left: 1rem;
      }
    }
  }
}

.text {
  padding: 2rem;
  display: block;

  p {
    color: $text-grey;
    font-family: $navigation-font;
    font-size: 0.9rem;
    padding: 2rem;
  }

  @include desktop {
    display: none;
  }

  @include tablette {
    display: none;
  }
}

.map {
  margin: 2rem auto;
  background-color: $text-light;
  border: $text-grey;
  padding: 1.4rem 1.4rem;
  width: 80%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
  display: grid;
  grid-template-rows: 5rem auto;

  &__head {
    background-color: $form-grey;
    padding: 2rem;
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
    font-family: $navigation-font;
    @include self-center;
  }

  &__box {
    width: 100%;
    height: 60vh;
  }
}