.hero-title {
  width: 50%;
  padding-bottom: 1rem;
  color: $text-light;
  overflow: hidden;
  white-space: nowrap;

  p {
    font-family: $capital-accent;
    font-weight: 900;
    font-size: 1.5rem;
    color: $text-light;
    padding-right: 1rem;
    letter-spacing: 0.15rem;
  }
}

.form-container {
  width: 55%;
  height: 10rem;
  background-color: white;
  opacity: 0.7;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}