.filter {
  position: relative;
  height: fit-content;
  width: 97%;
  margin: 2rem auto;
  padding: 2.8125rem 0;
  background-color: lighten($color: $my-light-blue, $amount: 30%);
  border-radius: 2px;

  display: grid;
  grid-template-rows: 1fr 2fr;

  &-title {
    align-self: center;
    justify-self: center;
    @include self-center;
    background-color: white;
    font-family: $capital;
    font-size: 1rem;
    line-height: 1rem;
    height: auto;
    overflow: hidden;
    color: $primary;

    @include desktop {
      @include ease-out;
      font-size: 1.2rem;
      line-height: 1.5rem;
    }
  }

  &-form {
    width: 100%;
    height: 100%;
    padding: 1rem;
    // background-color: yellow;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(7, auto);

    @include desktop {
      grid-template-columns: repeat(6, auto);
      grid-template-rows: 1fr 1fr;
    }

    &__element-title_desk {
      display: none;

      @include desktop {
        display: block;
      }
    }

    &__element-title {
      @include desktop {
        display: none;
      }
    }

    .empty-separator-lm {
      display: none;

      @include desktop {
        display: block;
      }
    }

    .empty-separator-sm {
      @include desktop {
        display: none;
      }
    }

    input[type=text] {
      padding-left: 1rem;
      height: 2rem;
      width: 100%;
      border: solid 0.5px $text-grey;
      // outline-color: opacify($color: $text-shade, $amount: 0.7);
      outline: none;
      background: transparent;
      padding: 0.4rem 0;
      text-align: center;
      z-index: 2;

      &::placeholder {
        font-size: 0.9rem;
        color: $text-grey;
        font-family: $text-regular;
        font-weight: 300;
        line-height: normal;
        z-index: 3;
      }
    }

    button {
      width: 30%;
      height: 2rem;
      font-size: 0.9rem;
      color: $text-light;
      font-family: $text-regular;
      font-weight: 700;
      line-height: normal;
      border: solid 1px $primary;
      outline: none;

      &:hover {
        cursor: pointer;
        background-color: rgba($color: grey, $alpha: 0.1);
        color: $primary;
        @include ease-out;
      }
    }


  }
}