.results {
  &-head {
    text-align: center;
    font-size: 2rem;
    font-family: $capital;
    color: $footer-light;
  }

  &-gallery {

    position: relative;
    height: fit-content;
    width: 97%;
    margin: auto;
    padding: 2.8125rem 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 2vmin;
    grid-auto-flow: dense;

    @include desktop {
      grid-template-columns: auto auto auto auto;
    }

    @include tablette {
      grid-template-columns: auto auto auto;
    }

    &__img {
      position: relative;
      height: 100%;
      width: 100%;
      overflow: hidden;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.9);

      &:first-child {
        grid-column-start: span 2;
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        filter: brightness(0.5) grayscale(50);
        
        @include ease-out;
      }

      &-txt {
        position: absolute;
        z-index: 3;
        width: 100%;
        height: 30%;
        top: 50%;
        background-color: white;
        opacity: 0.7;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include desktop {
          top: 70%;
        }

        h1 {
          font-family: $capital;
          font-size: 1rem;
          line-height: 1rem;
          height: auto;
          overflow: hidden;
          color: $primary;
          text-transform: uppercase;

          @include desktop {
            font-size: 1.2rem;
            line-height: 1.5rem;
            @include ease-out;
          }
        }

        p {
          font-family: $text-regular;
          font-size: 0.5rem;

          @include desktop {
            font-size: 0.6rem;
          }
        }

        &:hover {
          animation: fading 2s ease-out 0s;
          background-color: transparent;
          // opacity: 1;
          color: $text-light;

          @include ease-out;

        }
      }

      &:hover {
        img {
          filter: brightness(1) grayscale(0);
        }
      }
    }
  }
}
