header {
  padding: 0.8rem 0.5rem 0.8rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary;
}

.brand-nav {
  padding-left: 3.5rem;
  font-size: 1.5rem;
  display: inline;
}

.nav-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;
  // padding-right: 1.5rem;

  &__item {
    padding: 0.8rem 0.6rem;
  }

  &__link {
    font-size: 1.2rem;
    font-family: $navigation-font;
    font-weight: 700;
    color: $text-light;
    text-transform: uppercase;
    position: relative;

    &:after {
      content: "";
      display: block;
      height: 3px;
      background-color: $my-hover;
      position: absolute;
      bottom: -0.6rem;
      left: 0;
      right: 0;
      // opacity: 0;
      transform: scale(0, 1);
      transform-origin: left;
      transition: transform ease-in-out 0.5s;
    }

    &:hover {
      color: $my-hover;
      animation: fading 1s ease-out 0s;

      &::after {
        // opacity: 1;
        transform: scale(1, 1);
      }
    }
  }
}

.hamburger-btn {
  padding: 0.8rem 1rem;

  .hamburger-btn__line {
    width: 2.2rem;
    height: 3px;
    background: $text-light;
    border-radius: 3px;
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 2.2rem;
      height: 3px;
      background: $text-light;
      border-radius: 3px;
    }

    &::before {
      transform: translateY(-8px);
    }

    &::after {
      transform: translateY(8px);
    }
  }

  &.open {
    background-color: black;
  }
}