@import url("https://fonts.googleapis.com/css?family=Francois+One|Ramabhadra&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Crafty+Girls|Indie+Flower|Just+Another+Hand|Lakki+Reddy|Mansalva|Nanum+Gothic|Parisienne|Rock+Salt|Sacramento|Sedgwick+Ave+Display&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import "config";
@import "navigation";
@import "animation";
@import "forms";

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $secondary;
}

a {
  text-decoration: none;
  color: inherit;
}

.logo {
  font-family: $logo1;
  letter-spacing: 0.25rem;
  font-weight: 800;
  color: $text-light;
  line-height: 1rem;

  span {
    font-size: 0.9rem;
    color: $classic-blue;
  }
}

main {
  .search {
    width: 100%;
    height: 70vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70%);
      background: url(/dist/image/searchBackground3.jpg);
      background-repeat: no-repeat;
      background-position: bottom;
      position: absolute;
      left: 0;
      z-index: -1;
    }

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70%);
      background: black;
      opacity: 0.7;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
    }
  }
}