@import url("https://fonts.googleapis.com/css?family=Francois+One|Ramabhadra&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Crafty+Girls|Indie+Flower|Just+Another+Hand|Lakki+Reddy|Mansalva|Nanum+Gothic|Parisienne|Rock+Salt|Sacramento|Sedgwick+Ave+Display&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import "config";
@import "navigation";
@import "animation";
@import "forms";

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


body {
  background-color: $text-light;
  width: 100%;
}

header {
  width: 100%;
}

main {
  width: 100%;
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

.logo {
  font-family: $logo1;
  letter-spacing: normal;
  font-weight: 800;
  line-height: 1.9rem;

  span {
    font-size: 0.9rem;
    color: $classic-blue;
  }
}

.separator {

  width: 25rem;
  margin-left: auto;
  margin-right: auto;
  // background-color: yellow;
  padding: 2rem;

  &-text {
    font-family: $text-regular;
    font-size: 1.3rem;
    font-weight: 300;
    padding: 1rem;
    // color: $secondary;
  }

  .logo {
    font-size: 1.3rem;
    letter-spacing: normal;
    padding: 0 1rem;
    text-align: end;
  }
}

.search {
  width: 100%;
  height: 70vh;
  position: relative;
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas:
    ". hero ."
    ". form .";

  .hero-title {
    // background-color: red;
    grid-area: hero;
    color: $text-light;
    overflow: hidden;
    white-space: nowrap;
    align-self: end;
    justify-content: start;
    padding-bottom: 1rem;

    p {
      font-family: $capital-accent;
      font-weight: 700;
      font-size: 1.5rem;
      color: $text-light;
      // padding-right: 1rem;
      letter-spacing: 0.06rem;

      .logo {
        font-size: 1.2rem;
      }
    }
  }

  .form-container {
    grid-area: form;
    width: 90%;
    height: 10rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    position: relative;
    z-index: 1;

    &::before {
      content: "";
      width: 100%;
      height: 10rem;
      background-color: white;
      opacity: 0.7;
      border-radius: 5px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }


    h2 {
      text-transform: uppercase;
      font-family: $text-regular;
      font-size: 0.9rem;
      font-weight: 700;
      color: $text-dark;
      padding-bottom: 0.5rem;
      z-index: 2;
    }


    form {
      // background-color: red;
      width: 100%;
      // @include self-center;
      display: inline-flex;
      z-index: 2;

      input[type=text] {
        padding-left: 1rem;
        height: 2.5rem;
        width: 100%;
        border: solid 1px $text-grey;
        outline-color: opacify($color: $text-shade, $amount: 0.7);
        outline-width: 0.5px;
        background: transparent;
        padding: 0.4rem 0;
        text-align: center;
        z-index: 2;

        &::placeholder {
          font-size: 1rem;
          color: $text-grey;
          font-family: $text-regular;
          font-weight: 300;
          line-height: normal;
          z-index: 3;
        }
      }

      button {
        width: 30%;
        height: 2.5rem;
        font-size: 0.9rem;
        color: $text-shade;
        font-family: $text-regular;
        text-transform: uppercase;
        font-weight: 700;
        line-height: normal;
        border: solid 1px $primary;
        background-color: $primary;
        outline: none;
        z-index: 2;

        &:hover {
          cursor: pointer;
          background-color: rgba($color: grey, $alpha: 0.1);
          color: $primary;
          @include ease-out;
        }
      }
    }
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70%);
    background: url(../image/searchBackground3.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    position: absolute;
    left: 0;
    z-index: -1;
  }

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70%);
    background: black;
    opacity: 0.7;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }
}

.guide {
  // background-color: yellow;
  width: 100%;
  padding: 1rem 6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  grid-auto-flow: dense;

  &-item {
    // background-color: lightcoral;
    width: 40vw;
    height: 45vh;
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr 1fr 4fr;

    &__icon {
      font-size: 3rem;
      font-weight: 400;
      // background-color: brown;
      padding: 1rem;
      @include self-center;
    }

    &__title {
      // background-color: blue;
      font-family: $navigation-font;
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      @include self-center;
    }

    &__text {
      // background-color: wheat;
      font-family: $text-regular;
      font-size: 1.2rem;
      font-weight: 200;
      text-align: center;
      padding-top: 2.5rem;
      padding-left: 5rem;
      padding-right: 5rem;
    }
  }

}

.landing {
  // background-color: coral;
  width: 100%;
  height: 170vh;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;

  #rib1 {
    background-color: lighten($color:$primary, $amount: 10%);

    .landing-link {
      color: lighten($color:$primary, $amount: 10%);
    }
  }

  #rib2 {
    background-color: darken($text-shade, 25%);

    .landing-link {
      color: darken($text-shade, 25%);
      ;
    }
  }

  #rib3 {
    background-color: lighten($classic-blue, $amount: 15%);
  }

  .landing-section {
    display: grid;
    grid-template-columns: 2fr 1fr;

    &__content {
      padding: 0 7%;
      @include self-center;
      flex-direction: column;


      .landing-title {
        color: $text-light;
        margin-bottom: 1.5rem;
        font-size: 2rem;
        font-family: $text-regular;
      }

      .landing-text {
        font-family: $text-regular;
        color: $text-light;
        font-size: 1.2rem;
        font-weight: 500;
      }

      .landing-link {
        width: fit-content;
        margin-top: 1.5rem;
        padding: 1rem;
        font-family: $text-regular;
        font-size: 1.2rem;
        font-weight: 500;
        background-color: rgba($color: $text-light, $alpha:0.7);
        border-radius: 3px;
      }
    }

    &__img {
      // background-color: white;
      width: 100%;
      object-fit: fill;
      overflow: hidden;
      @include self-center;

      img {
        border-radius: 50%;
        width: 20rem;
        height: 20rem;
      }
    }
  }
}

.footer-top {
  background-color: $footer-dark;
  width: 100%;
  padding: 0.5rem 4%;
  @include self-center;

  .footer-list {
    // background-color: indianred;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 8rem) 7rem repeat(4, 9rem);

    &__item {
      @include self-center;
      flex-wrap: nowrap;
      border: solid 1px rgba($color: $text-light, $alpha:0.2);

      &:nth-of-type(1) {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        border-right: none;
      }

      &:nth-of-type(9) {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        border-left: none;
      }

      &:nth-of-type(5) {
        border-radius: 50%;
      }

      &:nth-of-type(2),
      &:nth-of-type(3),
      &:nth-of-type(4),
      &:nth-of-type(6),
      &:nth-of-type(7),
      &:nth-of-type(8) {
        border-right: none;
        border-left: none;
      }
    }

    &__link {
      color: rgba($color: $text-light, $alpha:0.7);
      text-transform: uppercase;
      font-size: 0.9rem;
      font-family: $navigation-font;
      font-weight: 500;
      padding: 0.6rem;
      overflow: hidden;
      white-space: nowrap;
      @include self-center;

      i {
        font-size: 3rem;
        padding: 1.5rem;
      }

      &:hover {
        animation: fading 1s ease-out 0s;
      }
    }
  }
}

.footer-mid {
  background-color: $footer-dark;
  width: 100%;
  height: 20vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-right: 2rem;
  padding-left: 2rem;
  grid-column-gap: 2rem;

  &-element {
    display: grid;
    grid-template-rows: 1fr 1fr;
    // background-color: blue;
    padding-right: 1rem;
    padding-left: 1rem;


    &__title {
      @include self-center;
      font-size: 1.3rem;
      color: $text-light;
      font-family: $text-regular;
      font-weight: 300;
      line-height: normal;
      text-transform: uppercase;
      // background-color: brown;
      overflow: hidden;
    }

    &__content {
      // @include self-center;
      text-align: center;

      p {
        font-size: 0.8rem;
        color: $text-light;
        font-family: $text-regular;
        padding-left: 15%;
        padding-right: 15%;

        a {
          color: $secondary;
        }

      }

      form {

        @include self-center;

        input[type=text] {
          padding-left: 1rem;
          height: 1.5rem;
          border: solid 1px rgba($color: $text-light, $alpha:0.2);
          outline-color: opacify($color: $text-shade, $amount: 0.7);
          outline-width: 0.5px;
          background: transparent;

          &::placeholder {
            font-size: 0.9rem;
            color: rgba($color: $text-shade, $alpha: 0.5);
            font-family: $text-regular;
            font-weight: 300;
            line-height: normal;
          }
        }

        button {
          width: 4rem;
          height: 1.5rem;
          font-size: 0.9rem;
          color: $text-shade;
          font-family: $text-regular;
          font-weight: 300;
          line-height: normal;
          border: solid 1px rgba($color: $text-light, $alpha:0.2);
          background-color: rgba($color: grey, $alpha: 0.4);
          outline: none;

          &:hover {
            cursor: pointer;
            @include ease-out;
            background-color: rgba($color: grey, $alpha: 0.1);
          }
        }
      }
    }
  }
}

.footer-btm {
  background-color: $footer-light;
  width: 100%;
  // height: 9vh;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__icons {
    font-size: 1.2rem;
    color: $text-shade;

    a {
      margin-left: 0.3rem;

      &:hover {
        animation: fading 1s ease-out 0s;
      }
    }
  }

  &__copyright {
    font-size: 0.8rem;
    color: $text-shade;

    a:hover {
      animation: fading 1s ease-out 0.1s;
    }
  }
}