@import url("https://fonts.googleapis.com/css?family=Francois+One|Ramabhadra&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Crafty+Girls|Indie+Flower|Just+Another+Hand|Lakki+Reddy|Mansalva|Nanum+Gothic|Parisienne|Rock+Salt|Sacramento|Sedgwick+Ave+Display&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import "config";
@import "navigation";
@import "animation";
@import "forms";
@import "gallery";
@import "card";

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  min-width: 22rem;
}

body {
  background-color: $text-light;
  width: 100%;
  min-width: 22rem;
}

main {
  width: 100%;
  display: block;

  &#result,
  &.card {
    margin-top: 6vh;
  }
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: $footer-dark;
}

a {
  text-decoration: none;
  color: inherit;
}

.logo {
  font-family: $logo1;
  letter-spacing: normal;
  font-weight: 800;
  line-height: 1.9rem;
  overflow: hidden;

  span {
    font-size: 0.9rem;
    color: $classic-blue;
  }
}

.separator {
  width: 25rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2rem 1rem 2rem;
  overflow-x: hidden;
  overflow-y: hidden;

  &-text {
    font-family: $text-regular;
    font-size: 0.9rem;
    font-weight: 300;
    padding: 0.6rem;
  }

  .logo {
    font-size: 0.9rem;
    letter-spacing: normal;
    padding: 0 1rem;
    text-align: end;
  }
}

.search {
  width: 100%;
  height: 35vh;
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
    "hero"
    "form";

  @include ease-out;

  @include desktop {
    height: 65vh;
    grid-template-rows: 1fr 1.5fr;
    grid-template-columns: 1fr 2.5fr 1fr;
    grid-template-areas:
      ". hero ."
      ". form .";

    @include ease-out;
  }

  @include tablette {
    height: 45vh;

    @include ease-out;
  }

  .hero-title {
    grid-area: hero;
    color: $text-light;
    overflow: hidden;
    white-space: nowrap;
    align-self: end;
    justify-content: start;
    padding-bottom: 1rem;

    h1 {
      font-family: $capital-accent;
      font-weight: 400;
      font-size: 0.8rem;
      color: $text-light;
      letter-spacing: normal;
      overflow: hidden;
      text-align: center;

      .logo {
        font-size: 0.9rem;
        overflow: hidden;

        @include desktop {
          font-size: 1rem;

          @include ease-out;
        }
      }

      @include desktop {
        font-weight: 700;
        font-size: 1.2rem;
        text-align: left;
      }

      @include tablette {
        font-weight: 600;
        font-size: 1rem;
        color: $text-light;
      }
    }
  }

  .form-container {
    grid-area: form;
    width: 80%;
    height: 7rem;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
    position: relative;
    z-index: 1;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 0.5px 1rem rgba(0, 0, 0, 0.2);

    @include desktop {
      width: 100%;
      opacity: 0.8;
      background-color: white;
    }

    &::before {
      content: "";
      width: 100%;
      height: 7rem;
      background-color: white;
      opacity: 1;
      border-radius: 3px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;

      @include desktop {
        opacity: 0.7;
      }
    }

    h2 {
      text-transform: uppercase;
      font-family: $text-regular;
      font-size: 0.8rem;
      font-weight: 700;
      color: $text-dark;
      padding-bottom: 0.5rem;
      z-index: 2;
      overflow-x: hidden;
    }

    .search-form {
      width: 100%;
      display: inline-flex;
      z-index: 2;

      input[type="text"] {
        height: 2rem;
        width: 100%;
        border: solid 0.5px $text-grey;
        outline: none;
        background: transparent;
        padding: 0.4rem 0;
        text-align: center;
        z-index: 2;

        &::placeholder {
          font-size: 0.9rem;
          color: $text-grey;
          font-family: $text-regular;
          font-weight: 300;
          line-height: normal;
          z-index: 3;
        }
      }
    }
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70%);
    background: url(../image/searchBackground3.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    position: absolute;
    left: 0;
    z-index: -1;
  }

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70%);
    background: black;
    opacity: 0.7;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }
}

.button-search {
  width: 30%;
  height: 2rem;
  font-size: 0.75rem;
  color: $text-light;
  font-family: $text-regular;
  text-transform: uppercase;
  font-weight: 600;
  border: solid 1px $primary;
  background-color: $primary;
  outline: none;
  z-index: 2;
  overflow-x: hidden;
  @include self-center;
  
  .button-link {
    margin-top: auto;
    margin-bottom: auto;
  }

  &:hover {
    cursor: pointer;
    background-color: rgba($color: grey, $alpha: 0.1);
    color: $primary;
    
    @include ease-out;
  }
}

.guide {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  grid-auto-flow: dense;

  @include desktop {
    grid-template-columns: 1fr 1fr;
  }

  &-item {
    overflow: hidden;
    display: grid;
    width: 70vw;
    grid-template-rows: 1fr 1fr 3fr;

    @include desktop {
      width: 40vw;
    }

    @include tablette {
      grid-template-rows: 1fr 1fr 2fr;

      @include ease-out;
    }

    &__icon {
      font-size: 2rem;
      font-weight: 400;

      @include self-center;

      // i {
      //   padding: 0.5rem;
      // }
    }

    &__title {
      font-size: 1rem;
      font-family: $navigation-font;
      text-transform: uppercase;
      letter-spacing: 0.1rem;

      @include self-center;
    }

    &__text {
      font-family: $text-regular;
      font-size: 0.8rem;
      font-weight: 200;
      color: $text-dark;
      text-align: center;
      padding: 0 2rem;

      @include desktop {
        font-size: 0.9rem;
      }

      @include tablette {
        padding: 0.5rem;
        font-size: 0.9rem;
      }
    }
  }
}

.guide-i {
  padding: 0.5rem;
}

.landing {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;

  .landing-section {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    justify-items: center;

    @include desktop {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: auto;
    }

    @include tablette {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: auto;
    }

    &__content {
      padding: 1rem 7%;
      justify-self: start;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @include desktop {
        align-items: flex-start;
      }

      @include tablette {
        align-items: flex-start;
      }

      .landing-title {
        color: $text-light;
        margin-bottom: 1rem;
        font-size: 1rem;
        font-family: $text-regular;

        @include desktop {
          margin-bottom: 1rem;
          font-size: 1.5rem;
        }

        @include tablette {
          margin-bottom: 1rem;
          font-size: 1.5rem;
        }
      }

      .landing-text {
        font-family: $text-regular;
        color: $text-light;
        font-size: 0.7rem;
        font-weight: 500;

        @include desktop {
          font-size: 1rem;
        }

        @include tablette {
          font-size: 1rem;
        }
      }

      .landing-link {
        width: 7rem;
        margin-top: 0.8rem;
        padding-left: 0.7rem;
        font-family: $text-regular;
        font-size: 0.8rem;
        font-weight: 500;
        background-color: rgba($color: $text-light, $alpha: 0.7);
        border-radius: 3px;

        @include desktop {
          width: 8rem;
          margin-top: 1rem;
          padding: 0.5rem;
          font-size: 1rem;
          text-align: left;
        }

        @include tablette {
          width: 8rem;
          margin-top: 1rem;
          padding: 0.5rem;
          font-size: 1rem;
          text-align: left;
        }
      }

      .landing-link:hover {
        animation: fading 1s ease-out 0s;
      }
    }

    &__img {
      width: 100%;
      object-fit: fill;
      overflow: hidden;

      @include self-center;

      img {
        border-radius: 50%;
        width: 7rem;
        height: 7rem;

        @include tablette {
          border-radius: 50%;
          width: 12rem;
          height: 12rem;
        }

        @include desktop {
          border-radius: 50%;
          width: 12rem;
          height: 12rem;
        }
      }
    }
  }
}

#rib1 {
  background-color: lighten($color: $primary, $amount: 10%);

  .landing-section__content {
    .landing-link {
      color: lighten($color: $primary, $amount: 10%);
    }
  }
}

#rib2 {
  background-color: darken($text-shade, 25%);

  .landing-section__content {
    .landing-link {
      color: darken($text-shade, 25%);
    }
  }
}

#rib3 {
  background-color: lighten($classic-blue, $amount: 15%);
}

.footer-top {
  background-color: $footer-dark;
  width: 100%;
  padding: 1rem 4%;

  .footer-list {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr) 4rem repeat(4, 1fr);

    &__item {
      flex-wrap: nowrap;
      border: solid 1px rgba($color: $text-light, $alpha: 0.2);

      @include self-center;

      &:nth-of-type(1) {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        border-right: none;
      }

      &:nth-of-type(9) {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        border-left: none;
      }

      &:nth-of-type(5) {
        padding: 0.5rem;
        border-radius: 50%;
      }

      &:nth-of-type(2),
      &:nth-of-type(3),
      &:nth-of-type(4),
      &:nth-of-type(6),
      &:nth-of-type(7),
      &:nth-of-type(8) {
        border-right: none;
        border-left: none;
      }
    }

    &__link {
      color: rgba($color: $text-light, $alpha: 0.7);
      font-size: 0.55rem;
      font-family: $navigation-font;
      font-weight: 300;
      overflow: hidden;
      white-space: nowrap;
      padding: 0.4rem 0;

      @include self-center;

      @include desktop {
        font-size: 0.8rem;
        padding: 0.5rem 0;
        text-transform: uppercase;
      }

      @include tablette {
        font-size: 0.8rem;
        padding: 0.5rem 0;
        text-transform: uppercase;
      }

      i {
        font-size: 1.5rem;

        @include desktop {
          font-size: 2.5rem;
        }

        @include tablette {
          font-size: 2rem;
        }
      }

      &:hover {
        animation: fading 1s ease-out 0s;
      }
    }
  }
}

.footer-mid {
  background-color: $footer-dark;
  width: 100%;
  height: 15vh;
  display: none;
  overflow-x: hidden;

  @include tablette {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-right: 2rem;
    padding-left: 2rem;
    grid-column-gap: 2rem;
  }

  @include desktop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-right: 2rem;
    padding-left: 2rem;
    grid-column-gap: 2rem;
  }

  &-element {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding-right: 1rem;
    padding-left: 1rem;

    &__title {
      font-size: 1rem;
      color: $text-light;
      font-family: $text-regular;
      font-weight: 300;
      line-height: normal;
      text-transform: uppercase;
      overflow: hidden;

      @include self-center;
    }

    &__content {
      text-align: center;
      overflow: hidden;
    }
  }
}

.footer-mid-element__content-txt {
  font-size: 0.7rem;
  color: $text-light;
  font-family: $text-regular;
  padding-left: 1%;
  padding-right: 1%;
  overflow-x: hidden;
  
  .footer-mid-element__content-link {
    color: $secondary;
  }
}


.footer-form {
  @include self-center;

  .footer-input {
    padding-left: 1rem;
    height: 1.5rem;
    border: solid 1px rgba($color: $text-light, $alpha: 0.2);
    outline-color: opacify($color: $text-shade, $amount: 0.7);
    outline-width: 0.5px;
    background: transparent;

    &::placeholder {
      font-size: 0.7rem;
      color: rgba($color: $text-shade, $alpha: 0.5);
      font-family: $text-regular;
      font-weight: 300;
      line-height: normal;
      text-transform: capitalize;
    }
  }

  .footer-butn {
    width: 4rem;
    height: 1.5rem;
    font-size: 0.7rem;
    color: $text-shade;
    font-family: $text-regular;
    font-weight: 300;
    line-height: normal;
    border: solid 1px rgba($color: $text-light, $alpha: 0.2);
    background-color: rgba($color: grey, $alpha: 0.4);
    outline: none;
    overflow: hidden;

    &:hover {
      cursor: pointer;
      background-color: rgba($color: grey, $alpha: 0.1);

      @include ease-out;
    }
  }
}

.footer-btm {
  background-color: $footer-light;
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__icons {
    font-size: 1.2rem;
    color: $text-shade;
  }

  &__copyright {
    font-size: 0.8rem;
    color: $text-shade;
  }
}

.footer-btm__icon {
  margin-left: 0.3rem;

  &:hover {
    animation: fading 1s ease-out 0s;
  }
}

.footer-logo:hover {
  animation: fading 1s ease-out 0.1s;
}
