@import url("https://fonts.googleapis.com/css?family=Francois+One|Ramabhadra&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Crafty+Girls|Indie+Flower|Just+Another+Hand|Lakki+Reddy|Mansalva|Nanum+Gothic|Parisienne|Rock+Salt|Sacramento|Sedgwick+Ave+Display&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import "config";
@import "navigation";
@import "animation";
@import "forms";

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $text-light;
}

a {
  text-decoration: none;
  color: inherit;
}

.logo {
  font-family: $logo1;
  letter-spacing: 0.25rem;
  font-weight: 800;
  line-height: 1rem;

  span {
    font-size: 0.9rem;
    color: $classic-blue;
  }
}

.separator {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  // background-color: yellow;
  padding: 2rem;

  &-text {
    font-family: $text-regular;
    font-size: 1.3rem;
    font-weight: 300;
    padding: 1rem;
    // color: $secondary;
  }

  .logo {
    font-size: 1.3rem;
    letter-spacing: normal;
    padding: 0 1rem;
    text-align: end;
  }
}

.search {
  width: 100%;
  height: 70vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70%);
    background: url(../image/searchBackground3.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    position: absolute;
    left: 0;
    z-index: -1;
  }

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70%);
    background: black;
    opacity: 0.7;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }
}

.guide {
  // background-color: yellow;
  width: 100%;
  padding: 1rem 6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  grid-auto-flow: dense;

  &-item {
    // background-color: lightcoral;
    width: 40vw;
    height: 45vh;
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr 1fr 4fr;

    &__icon {
      font-size: 3rem;
      font-weight: 400;
      // background-color: brown;
      padding: 1rem;
      @include self-center;
    }

    &__title {
      // background-color: blue;
      font-family: $navigation-font;
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      @include self-center;
    }

    &__text {
      // background-color: wheat;
      font-family: $text-regular;
      font-size: 1.2rem;
      font-weight: 200;
      text-align: center;
      padding-top: 2.5rem;
      padding-left: 5rem;
      padding-right: 5rem;
    }
  }

}

.landing {
  // background-color: coral;
  width: 100%;
  height: 170vh;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;

  #rib1 {
    background-color: lighten($color:$primary, $amount: 10%);

    .landing-link {
      color: lighten($color:$primary, $amount: 10%);
    }
  }

  #rib2 {
    background-color: darken($text-shade, 25%);

    .landing-link {
      color: darken($text-shade, 25%);
      ;
    }
  }

  #rib3 {
    background-color: lighten($classic-blue, $amount: 15%);
  }

  .landing-section {
    display: grid;
    grid-template-columns: 2fr 1fr;

    &__content {
      padding: 0 7%;
      @include self-center;
      flex-direction: column;


      .landing-title {
        color: $text-light;
        margin-bottom: 1.5rem;
        font-size: 2rem;
        font-family: $text-regular;
      }

      .landing-text {
        font-family: $text-regular;
        color: $text-light;
        font-size: 1.2rem;
        font-weight: 500;
      }

      .landing-link {
        width: fit-content;
        margin-top: 1.5rem;
        padding: 1rem;
        font-family: $text-regular;
        font-size: 1.2rem;
        font-weight: 500;
        background-color: rgba($color: $text-light, $alpha:0.7);
        border-radius: 3px;
      }
    }

    &__img {
      // background-color: white;
      width: 100%;
      object-fit: fill;
      overflow: hidden;
      @include self-center;

      img {
        border-radius: 50%;
        width: 20rem;
        height: 20rem;
      }
    }
  }
}